{% for location in locations %}
    <a href="{{ path('location_showProperty', {'slug': location.slug}) }}">
        <ul class="list-group mt-3">
            <li class="list-group-item">{{ location.name }} - {{ location.city }}</li>
        </ul>
    </a>
{% endfor %}
