{% extends 'base.html.twig' %}

{% block title %}Hello LocationAccountingController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1>Ligne comptabilité - {{ location}} </h1>
        </div>
    </div>
    <div class="container mt-5">
        <div id="locationAccounting">Loading...</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#locationAccounting').initDataTables({{ datatable_settings(datatable) }}, {
                drawCallback: function(settings) {
                    var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                },
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ ",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                searching: true,
                dom: 'lTfgtpi',
                rowId: 'refId',
                rowClass: 'ref-row'
            }).then(function(dt) {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
                dt.on('click', 'tbody tr', function () {
                    document.location.href = '/client/' + $(this).attr('id') + '/edit'
                })
            });
        });
    </script>
{% endblock %}