{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-around">
{% include 'Components/Property/card.html.twig' %}
        </div>
    </div>
{% endblock %}