{% for property in properties %}
<div class="card mt-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ property.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ property.propertyType }}</h6>
        <p class="card-text">{{ property.comment }}</p>
        <a href="{{ path('property_accounting', {'slug': property.slug}) }}" class="card-link">Voir les lignes compta</a>
    </div>
</div>
{% endfor %}